.product-list {
    width: 400px;
    height: 150px;
    display: flex;
    padding: 20px 20px 20px 20px;
    font-family: 'Poppins', sans-serif;
}

.product-list>img {
    height: 170px;
    max-width: 200px;
    border: 1px solid rgb(173, 173, 173);
}

.product-list .product-details {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px 0px 20px;
}

.product-list .product-details>h3 {
    margin: 5px 0 10px 0;
}

.product-details > p {
    color: rgb(173, 173, 173);
    font-size: 14px;
    line-height: 0.1;
}

.product-details > p:last-child {
    font-size: 16px;
    color: black;
}